.processingIncubatorCarousel {
  width: 100%;

  .carousel {
    .control-dots {
      display: none;
    }
    .thumb {
      display: none;
    }
    .slide {
      background: none;
    }
  }

  .processingIncubatorCarousel__wrapper {
    width: 100%;
    height: 495px;

    .post {
      position: relative;
      width: 20%;
      height: 70%;
      margin-top: 70px;
      margin: auto;
      @media (max-width: 1024px) {
        width: 50%;
      }
      @media (max-width: 800px) {
        width: 50%;
      }
      @media (max-width: 600px) {
        width: 90%;
      }
      .num {
        width: 7%;
        margin: auto;
        h1 {
          margin: 0;
        }
      }

      .img {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          margin: auto -50%;
        }
      }

      .post__content {
        position: relative;
        width: 100%;
        height: 100%;
        h1 {
          width: 80%;
          margin: auto;
          text-align: center;
          margin-top: 50px;
        }
        p {
          width: 70%;
          margin: auto;
        }
        @media (max-width: 600px) {
          p {
            font-size: 13px;
          }
        }
        i {
          position: absolute;
          margin-left: -2%;
          margin-top: 20px;
          color: #6c94cd;
        }

        .post__img {
          width: 60px;
          height: 60px;
          margin: auto;
          margin-top: 10px;
          img {
            width: 50px;
            height: 50px;
            margin: auto -7%;
          }
        }
      }
    }
  }
}
