.WhyUsProcessInvestingCarousel {
  width: 100%;
  height: 350px;

  .carousel {
    .control-dots {
      display: none;
    }
    .thumb {
      display: none;
    }
    .slide {
      background: none;
    }
  }

  .WhyUsProcessInvestingCarousel__wrapper {
    width: 70%;
    height: 300px;
    margin: auto;
    @media (max-width: 600px) {
      width: 100%;
      margin: auto;
    }

    .post {
      width: 20%;
      height: 100%;
      margin: auto;
      @media (max-width: 1024px) {
        width: 60%;
        height: 100%;
        margin: auto;
      }
      @media (max-width: 800px) {
        width: 60%;
        height: 100%;
        margin: auto;
      }
      @media (max-width: 600px) {
        width: 95%;
        height: 100%;
        margin: auto;
      }

      .post__img {
        width: 100%;
        height: 100%;
        position: relative;
        img {
          border-radius: 20px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .post__content {
          border-radius: 20px;
          position: absolute;
          background: rgba(79, 108, 131, 0.5);
          width: 100%;
          height: 100%;
          margin-top: -300px;
          color: #ffffff;
          h3 {
            text-align: center;
            height: 30px;
            font-size: 17px;
          }
          p {
            text-align: center;
            font-size: 13px;
            height: 195px;
            width: 95%;
            margin: auto;
          }
          .post__icon {
            width: 20%;
            height: 45px;
            margin: auto;
            img {
              width: 90%;
              height: 90%;
              object-fit: fill;
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}
