.ClientNeed {
  width: 100%;
  .ClientNeed__wrapper {
    width: 80%;
    height: 340px;
    margin: auto;
    display: flex;
    @media (max-width: 1024px) {
      width: 90%;
    }
    @media (max-width: 800px) {
      width: 90%;
    }
    @media (max-width: 600px) {
      width: 90%;
    }

    .ClientNeed__img {
      width: 30%;
      height: 80%;
      margin-top: 30px;
      img {
        margin-top: 50px;
        margin-left: 25%;
      }
      @media (max-width: 1024px) {
        width: 30%;
        height: 80%;
        margin: auto;
        img {
          width: 100%;
          margin-left: 0;
        }
      }
      @media (max-width: 800px) {
        width: 30%;
        height: 80%;
        margin: auto;
        img {
          width: 100%;
          margin-left: 0;
        }
      }
      @media (max-width: 600px) {
        width: 30%;
        height: 50%;
        margin: auto;
        img {
          width: 100%;
          margin-left: 0;
        }
      }
    }
    .ClientNeed__text {
      border: 2px solid green;
      width: 60%;
      height: 80%;
      margin-top: 30px;
      border: 1px solid var(--unnamed-color-6c94cd);
      border: 1px solid #6c94cd;
      border-radius: 12px;
      opacity: 1;
      h1 {
        padding: 20px;
        margin: 0;
        height: 70px;
        font: normal normal 600 27px/24px Poppins;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
      }
      p {
        height: 70%;
        padding: 20px;
        margin: 0;
        font: normal normal normal 20px/27px Segoe UI;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
      }
      @media (max-width: 1024px) {
        width: 70%;
        h1 {
          font-size: 20px;
        }
        p {
          font-size: 18px;
          width: 100%;
          overflow: scroll;
        }
      }
      @media (max-width: 800px) {
        width: 70%;
        h1 {
          font-size: 20px;
        }
        p {
          font-size: 18px;
          width: 100%;
          overflow: scroll;
        }
      }
      @media (max-width: 600px) {
        width: 70%;
        h1 {
          font-size: 12px;
        }
        p {
          font-size: 10px;
          width: 100%;
          overflow: scroll;
        }
      }
    }
  }
}
