.parent {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

  .alice-carousel {
    height: 100vh;
    .alice-carousel__prev-btn {
      display: none;
    }
    .alice-carousel__dots {
      position: absolute;
      width: 100%;
      height: 20%;
      top: 65%;
    }
  }
  .child {
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    top: 0;
    text-align: center;

    text {
      font-size: 25px;
      padding: 5px;
    }

    .links {
      width: 90%;
      height: 20px;
      display: flex;
      padding: 50px;

      @media (max-width: 900px) {
        flex-direction: column;
        text-align: left;
        font-size: 10px;
      }

      .logo {
        display: flex;
        width: 200px;
        height: 35px;
      }
      .menu {
        justify-content: center;
        width: 350px;
        height: 50px;
        padding: 15px;
      }

      .butonat {
        width: 700px;
        height: 70px;
        .button__wraper {
          width: 100%;
          height: 70px;
          float: right;
          padding: 15px;
          margin-right: -130px;
          display: flex;

          .login {
            height: 70px;
            width: 70%;
            float: right;
            padding: 5px;

            .btn {
              border-radius: 15px;
              padding: 5px;
              width: 80px;
              background-color: rgb(115, 100, 98);
              color: white;
            }
          }
          .signup {
            height: 70px;
            width: 70%;
            float: right;
            padding: 5px;
            .btn {
              border-radius: 15px;
              padding: 5px;
              width: 80px;
              background-color: rgb(108, 148, 205);
              color: white;
            }
          }
          @media (max-width: 600px) {
            flex-direction: column;
            float: left;
            width: 20%;
            .login {
              .btn {
                width: 80px;
              }
            }
            .signup {
              .btn {
                width: 80px;
              }
            }
          }
          @media (max-width: 900px) {
            position: absolute;
            top: 75px;
            margin-left: 130px;
            height: 120px;
            width: 210px;
          }
        }
      }
    }

    .info {
      width: 900px;
      margin-left: 150px;
      height: 310px;
      padding: 35px;
      .title {
        text-align: left;
        margin-top: 100px;
        font: normal normal bold 52px/53px Book Antiqua;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
      }
      @media (max-width: 600px) {
        .title {
          font-size: 15px;
          width: 250px;
        }
      }
      @media (max-width: 800px) {
        .title {
          font-size: 20px;
          width: 250px;
        }
      }
    }

    .info1 {
      width: 400px;
      margin-left: 240px;
      text-align: left;
      font: normal normal normal 28px/41px Circular Std Book;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 0.87;
      @media (max-width: 600px) {
        font-size: 15px;
        width: 250px;
        margin-left: 190px;
      }
      @media (max-width: 800px) {
        font-size: 20px;
        width: 250px;
        margin-left: 190px;
      }
    }

    .infoButton {
      width: 900px;
      height: 140px;
      display: flex;
      justify-content: center;
      padding: 40px;
      .infoButton1 {
        padding: 15px;
        .btn {
          border-radius: 20px;
          width: 200px;
          height: 60px;
          background-color: rgb(108, 148, 205);
        }
      }
      .infoButton2 {
        padding: 15px;
        .btn {
          border-radius: 20px;
          width: 200px;
          height: 60px;
          border: 2px solid #ffffff;
          border-radius: 13px;
          opacity: 0.5;
        }
      }
      @media (max-width: 600px) {
        width: 490px;
        flex-direction: column;
        .infoButton1 {
          padding: 0;
          width: 70px;
          height: 50px;

          margin-bottom: 10px;
          .btn {
            width: 100px;
            height: 50px;
          }
        }
        .infoButton2 {
          padding: 0px;
          width: 70px;
          height: 50px;

          margin-bottom: 70px;
          .btn {
            width: 100px;
            height: 50px;
          }
        }
      }
      @media (max-width: 800px) {
        width: 490px;
        flex-direction: column;
        margin-top: -120px;
        .infoButton1 {
          padding: 0;
          width: 80px;
          height: 50px;

          margin-bottom: 25px;
          .btn {
            width: 110px;
            height: 70px;
          }
        }
        .infoButton2 {
          padding: 0px;
          width: 80px;
          height: 50px;

          margin-bottom: 70px;
          .btn {
            width: 110px;
            height: 70px;
          }
        }
      }
    }

    .Navbar__footer {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      background: #000000 0% 0% no-repeat padding-box;
      opacity: 0.95;
      padding: 15px;
      margin-top: 8 0px;
      @media (max-width: 800px) {
        font-size: 10px;
      }
      @media (max-width: 600px) {
        font-size: 10px;
        height: 100%;
      }
      .demo__account {
        width: 250px;
        margin-left: 100px;
        @media (max-width: 600px) {
          margin-left: 8px;
          p {
            font-size: 5px;
            margin-top: -10px;
          }
          h5 {
            font-size: 7px;
          }
        }
      }
      .deposit {
        width: 250px;
        margin-left: 100px;
        padding: 15px;
        @media (max-width: 600px) {
          margin-left: 8px;
          p {
            font-size: 5px;
            margin-top: -10px;
          }
          h5 {
            font-size: 7px;
          }
        }
      }
      .investment {
        margin-right: 100px;
        width: 250px;
        padding: 20px;
        @media (max-width: 600px) {
          margin-left: 0px;
          p {
            font-size: 5px;
            margin-top: -10px;
          }
          h5 {
            font-size: 7px;
          }
        }
      }
    }
  }
}
