.Partners {
  width: 100%;
  height: 600px;
  @media (max-width: 600px) {
    width: 100%;
  }
  .partners__wrapper {
    width: 80%;
    height: 450px;
    margin: auto;
    margin-top: 100px;
    @media (max-width: 600px) {
      width: 310px;
      display: flex;
    }
    .row {
      display: flex;
      width: 100%;
      height: 150px;
      margin-top: 5px;
      margin-bottom: 5px;
      @media (max-width: 600px) {
        width: 100px;
        height: 93px;
        flex-wrap: wrap;
      }
      .partner {
        @media (max-width: 600px) {
          width: 100px;
          flex-direction: column;
        }
        width: 20%;
        height: 100%;
        img {
          object-fit: fill;
          margin-top: 10px;
          margin-left: 40px;
          width: 200px;
          height: 120px;
          @media (max-width: 1024px) {
            object-fit: fill;
            margin-top: 30px;
            margin-left: 10px;
            width: 140px;
            height: 90px;
          }
          @media (max-width: 800px) {
            object-fit: fill;
            margin-top: 30px;
            margin-left: 0px;
            width: 110px;
            height: 90px;
          }
          @media (max-width: 600px) {
            object-fit: fill;
            margin-top: 10px;
            margin-left: 0px;
            width: 100%;
            height: 70px;
          }
        }
      }
    }
    p {
      width: 1077px;
      height: 132px;
      text-align: center;
      font: normal normal normal 18px/27px Circular Std Book;
      letter-spacing: 0px;
      color: #000000;
      opacity: 0.98;
      margin: auto;
      margin-top: 20px;
      @media (max-width: 1024px) {
        width: 700px;
      }
      @media (max-width: 800px) {
        width: 600px;
      }
      @media (max-width: 600px) {
        margin-left: -300px;
        margin-top: 450px;
        font-size: 10px;
        height: 90px;
      }
    }
  }
}
